<!-- popup -->
<html>
<head>
<script src="/js/bower_components/jquery/dist/jquery.min.js"></script>
<!-- jstree -->
<link rel="stylesheet" href="/js/bower_components/jstree/dist/themes/default/style.min.css" />
<script src="/js/bower_components/jstree/dist/jstree.min.js" type="text/javascript" charset="utf-8"></script>
<link href="/js/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

</head>

<body>
[% content %]
</body>
</html>
