<script>
$(document).ready(function() {
  $('#samples-tbl').dataTable({
    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
    "iDisplayLength": 10
  });
});
</script>

<div class="row">
  <h1>[% title %]</h1>
  [% USE Comma %]
  [% IF samples.size > 0 %]
    <div class="pull-right">
      <a href="/download"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
    </div>
    <table id="samples-tbl" class="display" cellspacing="0" width="100%">
     <thead>
     <tr>
       <th>Project</th>
       <th>Name</th>
       <th>Annots</th>
       <th>Pep</th>
       <th>Contigs</th>
       <th>Reads</th>
       <th>CDS</th>
       <th>FASTQ</th>
     </tr>
     </thead>

     <tbody>
     [% SET url = "http://mirrors.iplantcollaborative.org/browse" %]
     [% FOREACH sample IN samples %]
       <tr>
         <td>
           <a href="/project/view/[% sample.project_id %]">[% sample.project_name | truncate(40) %]</a>
         </td>
         <td>
           <a href="/sample/view/[% sample.sample_id %]">[% sample.sample_name %]</a>
         </td>
         [% FOREACH fld IN [ 'annotations_file', 'peptides_file', 'contigs_file', 'reads_file', 'cds_file', 'fastq_file' ] %]
           <td>
             [% IF sample.$fld %]
             <a href="[% url %][% sample.$fld %]"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></a><br/>
             [% ELSE %]
               &nbsp;
             [% END %]
           </td>
         [% END %]
       </tr>
     [% END %]
     </tbody>
    </table>
  [% ELSE %]
    No samples.
  [% END %]
</div>
