<script type="text/javascript">
$(document).ready(function() {
  var dt_opts = {
    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
    "iDisplayLength": 10
  };

  $('#combined-assemblies-tbl').dataTable(dt_opts);
  $('#assemblies-tbl').dataTable(dt_opts);
  $('#samples-tbl').dataTable(dt_opts);
});

var map;
function initialize() {
  var center = new google.maps.LatLng(0, 0);
  map = new google.maps.Map(document.getElementById("map-canvas"), 
    { zoom: 2, center: center });

  $.getJSON(
    '/sample/list.json?project_id=[% project.project_id %]',
    function(data) { 
      $.each(data, function(i, sample) {
        if (sample.latitude && sample.longitude) {
          var pos = new google.maps.LatLng(sample.latitude, sample.longitude);

          var marker = new google.maps.Marker({
            position: pos,
            map: map,
            title: sample.sample_name
          });

          var desc = '<a href="/sample/view/' + sample.sample_id + '"\>' +
              sample.sample_name + '</a><br/><ul>';

          $.each(
            ['phylum', 'class', 'family', 'genus', 'species', 'strain'],
            function(i, fld) {
              var val = sample[fld];
              if (val) {
                desc += '<li>' + fld + ': ' + val;
              }
            }
          );

          var infowindow = new google.maps.InfoWindow({
            content: desc
          });

          google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map,marker);
          });
        }
      });
    }
  );
}

$(document).ready(function() {
  google.maps.event.addDomListener(window, "load", initialize);

  $('a[href="#map"]').on('shown.bs.tab', function(e) {
    lastCenter=map.getCenter();
    google.maps.event.trigger(map, 'resize');
    map.setCenter(lastCenter);
  });
});
</script>
</script>


[% 
  SET iplant = "http://mirrors.iplantcollaborative.org/browse";
  SET download_files = [];
  FOREACH ft IN ['read', 'meta', 'assembly', 'peptide', 'read_pep', 'nt' ]; 
    SET file = ft _ '_file';
    IF project.$file;
      download_files.push({ ft = ft, file = project.$file });
    END;
  END;
%]

<div class="row">
  <h2 id="nav-tabs">Project: [% project.project_name OR 'Unknown project' %]</h2>
  <div class="bs-component">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
      <li><a href="#desc" data-toggle="tab">Description</a></li>
      <li><a href="#downloads" data-toggle="tab">Downloads ([% download_files.size OR '0' %])</a></li>
      <li><a href="#samples" data-toggle="tab">Samples ([% project.samples_rs.count OR '0' %])</a></li>
      <li><a href="#assemblies" data-toggle="tab">Assemblies ([% project.assemblies_rs.count OR '0' %])</a></li>
      [% SET num_combined_assemblies = project.combined_assemblies_rs.count; IF num_combined_assemblies > 0 %]
      <li><a href="#combined-assemblies" data-toggle="tab">Combined Assemblies ([% num_combined_assemblies %])</a></li>
      [% END %]
      [% IF project.project_pages.count > 0 %]
      <li><a href="#project-pages" data-toggle="tab">Docs</a></li>
      [% END %]
      <li><a href="#map" data-toggle="tab">Samples Map</a></li>
    </ul>

    <div id="tabContent" class="tab-content">
      <div class="tab-pane fade active in" id="info">
        <br/>
        <table class="table">
          <tr>
            <th>Domain[% IF domains.size > 1; 's'; END %] ([% domains.size OR '0' %])</th>
            <td>
              [% 
                IF domains.size > 0; 
                  SET d=[]; 
                  FOREACH domain IN domains;
                    d.push("<a href=\"/project/list?domain=${domain}\">$domain</a>");
                  END;
                  d.join(', ');
                ELSE;
                  'Unknown';
                END;
              %]
            </td>
          </tr>
          <tr>
            <th>PI</th>
            <td>[% project.pi %]</td>
          </tr>
          <tr>
            <th>Institution</th>
            <td>[% project.institution OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Project Code</th>
            <td>[% project.project_code %]</td>
          </tr>
          <tr>
            <th>Project Type</th>
            <td>[% project.project_type %]</td>
          </tr>
          [% SET num_pubs = project.publications_rs.count; IF num_pubs > 0 %]
            <tr>
              <th>Publications ([% num_pubs %])</th>
              <td>
                <ul>
                [% FOREACH pub IN project.publications %]
                  <li><a href="/publication/view/[% pub.publication_id %]">[% pub.title | truncate(80) %]</a> ([% pub.author | truncate(50) %])</li>
                [% END %]
                </ul>
              </td>
            </tr>
          [% END %]
        </table>
        </p>
      </div>

      <div class="tab-pane fade" id="desc">
        <br/>
        <div class="col-lg-6">
        <p>[% project.description.replace('\n\n', '<p>') OR 'N/A' %]</p>
        </div>
      </div>

      <div class="tab-pane fade" id="assemblies">
        <br/>
        [% IF project.assemblies %]
          <table id="assemblies-tbl" class="display" cellspacing="0" width="100%">
           <thead>
           <tr>
             <th>Name</th>
             <th>Code</th>
             <th>Organism</th>
             <th>CDS</th>
             <th>NT</th>
             <th>Pep</th>
           </tr>
           </thead>

           <tbody>
           [% FOREACH assembly IN project.assemblies %]
             <tr>
               <td><a href="/assembly/view/[% assembly.assembly_id %]">[% assembly.assembly_name %]</a></td>
               <td>[% assembly.assembly_code %]</td>
               <td>[% assembly.organism %]</td>
               <td>[% IF assembly.cds_file %]<a href="[% assembly.cds_file %]"><img src="/img/file_gz.png"></a>[% ELSE %]&nbsp;[% END %]</td>
               <td>[% IF assembly.nt_file %]<a href="[% assembly.nt_file %]"><img src="/img/file_gz.png"></a>[% ELSE %]&nbsp;[% END %]</td>
               <td>[% IF assembly.pep_file %]<a href="[% assembly.pep_file %]"><img src="/img/file_gz.png"></a>[% ELSE %]&nbsp;[% END %]</td>
             </tr>
           [% END %]
           </tbody>

          </table>
          <div class="text-center">
          <a class="btn btn-primary download-btn" href="/assembly/list.tab?project_id=[% project.project_id %]&download=assembly-list-project-[% project.project_id %]">Download</a>
          </div>
        [% ELSE %]
          No assemblies.
        [% END %]
        <p>
      </div>

      [% IF project.combined_assemblies %]
        <div class="tab-pane fade" id="combined-assemblies">
        <br/>
            <table id="combined-assemblies-tbl" class="display" cellspacing="0" width="100%">
             <thead>
             <tr>
               <th>Name</th>
               <th>Phylum</th>
               <th>Class</th>
               <th>Family</th>
               <th>Genus</th>
               <th>Species</th>
               <th>Strain</th>
               <th>PCR Amp</th>
               <th>Samples</th>
               <th>Downloads</th>
             </tr>
             </thead>

             <tbody>
             [% FOREACH assembly IN project.combined_assemblies %]
               <tr>
                 <td>
                   <a href="/combined_assembly/view/[% assembly.combined_assembly_id %]">[% assembly.assembly_name %]</a>
                 </td>
                 <td>[% assembly.phylum %]</td>
                 <td>[% assembly.class %]</td>
                 <td>[% assembly.family %]</td>
                 <td>[% assembly.genus %]</td>
                 <td>[% assembly.species %]</td>
                 <td>[% assembly.strain %]</td>
                 <td>[% assembly.pcr_amp %]</td>
                 <td>
                   [% IF assembly.samples.size > 0 %]
                     <ul>
                     [% FOREACH sample IN assembly.samples %]
                       <li><a href="/sample/view/[% sample.sample_id %]">[% sample.sample_name %]</a></li>  
                     [% END %]
                     </ul>
                   [% ELSE %]
                    &nbsp;
                   [% END %]
                 </td>
                 <td>
                   [% IF assembly.annotations_file %]
                     <a href="[% iplant %][% assembly.annotations_file %]"><img src="/img/file_gz.png">&nbsp;Annot</a><br/>
                   [% END %]
                   [% IF assembly.peptides_file %]
                     <a href="[% iplant %][% assembly.peptides_file %]"><img src="/img/file_gz.png">&nbsp;Pep</a><br/>
                   [% END %]
                   [% IF assembly.nucleotides_file %]
                     <a href="[% iplant %][% assembly.nucleotides_file %]"><img src="/img/file_gz.png">&nbsp;NT</a><br/>
                   [% END %]
                   [% IF assembly.cds_file %]
                     <a href="[% iplant %][% assembly.cds_file %]"><img src="/img/file_gz.png">&nbsp;CDS</a>
                   [% END %]
                 </td>
               </tr>
             [% END %]
             </tbody>

            </table>
          <p>
        </div>
      [% END %]

      <div class="tab-pane fade" id="samples">
        <br/>
        [% IF project.samples.size > 0 %]
          [% 
            SET all_sample_flds = [ 'pi', 'reads_file', 'annotations_file', 'peptides_file', 'contigs_file', 'cds_file', 'fastq_file', 'phylum', 'class', 'family', 'genus', 'species', 'strain', 'clonal', 'axenic', 'pcr_amp' ];
            SET sample_flds = ['sample_name'];
            FOREACH fld IN all_sample_flds;
              IF has_sample_fld.$fld;
                sample_flds.push(fld);
              END;
            END; 
          %]
          <table id="samples-tbl" class="display" cellspacing="0" width="100%">
           <thead>
           <tr>
            [% FOREACH fld IN sample_flds %]
              <th>[% fld | ucfirst %]</th>
            [% END %]
           </tr>
           </thead>

           <tbody>
           [% FOREACH sample IN project.samples %]
             <tr>
              [% FOREACH fld IN sample_flds %]
                <td>
                [% IF fld == 'sample_name' %]
                  <a href="/sample/view/[% sample.sample_id %]">[% sample.sample_name %]</a>
                [% ELSIF sample.$fld AND fld.match('_file$') %]
                  <a href="[% iplant %][% sample.$fld %]"><img src="/img/file_gz.png"></a>
                [% ELSE %]
                  [% sample.$fld %]
                [% END %]
                </td>
              [% END %]
             </tr>
           [% END %]
           </tbody>
          </table>
          <div class="text-center">
          <a class="btn btn-primary download-btn" href="/sample/list.tab?project_id=[% project.project_id %]&download=samples-list-project-[% project.project_id %]">Download</a>
          </div>
        [% ELSE %]
          No samples.
        [% END %]
        <p>
      </div>

      <div class="tab-pane fade" id="downloads">
        <br/>
        [% IF download_files.size > 0 %]
          <ul>
            [% FOREACH f IN download_files %]
            <li><a href="[% iplant %][% f.file %]"><img src="/img/file_gz.png">&nbsp;[% f.ft.ucfirst %]</a>
            [% END %]
          </ul>
        [% ELSE %]
          None.
        [% END %]
        </p>
      </div>

      [% IF project.project_pages.size > 0 %]
        <div class="tab-pane fade" id="project-pages">
          <br/>
            <ul>
            [% FOREACH page IN project.project_pages %]
              <li><a href="/project_page/view/[% page.id %]">[% page.title %]</a></li>
            [% END %]
            </ul>
        </div>
      [% END %]

      <div class="tab-pane fade" id="map">
        <br/>
        <div id="map-canvas"></div>
      </div>
    </div>
  <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
</div>

</div>
