<script>
$(document).ready(function() {
  $('#samples-tbl').dataTable({"iDisplayLength": 10});
  $('#assemblies-tbl').dataTable({"iDisplayLength": 10});
});
</script>

[% SET iplant="http://mirrors.iplantcollaborative.org/browse/iplant/home/shared/imicrobe/camera/camera_projects/" %]

<div class="row">
  <h2 id="nav-tabs">Project: [% project.project_name OR 'Unknown project' %]</h2>
  <div class="bs-component">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
      <li><a href="#desc" data-toggle="tab">Description</a></li>
      <li><a href="#samples" data-toggle="tab">Samples ([% project.samples.size OR '0' %])</a></li>
      <li><a href="#assemblies" data-toggle="tab">Assemblies ([% project.assemblies.size OR '0' %])</a></li>
    </ul>

    <div id="tabContent" class="tab-content">
      <div class="tab-pane fade active in" id="info">
        <p>
        <table class="table">
          <tr>
            <th>Domain[% IF project.domains.size > 1; 's'; END %] ([% project.domains.size OR '0' %])</th>
            <td>
              [% 
                IF project.domains.size > 0; 
                  SET d=[]; 
                  FOREACH domain IN project.domains;
                    d.push("<a href=\"/project/list?domain=${domain}\">$domain</a>");
                  END;
                  d.join(', ');
                ELSE;
                  'Unknown';
                END;
              %]
            </td>
          </tr>
          <tr>
            <th>PI</th>
            <td>[% project.pi %]</td>
          </tr>
          <tr>
            <th>Institution</th>
            <td>[% project.institution OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Project Code</th>
            <td>[% project.project_code %]</td>
          </tr>
          <tr>
            <th>Project Type</th>
            <td>[% project.project_type %]</td>
          </tr>
          <tr>
            <th>Read File</th>
            <td>[% IF project.read_file %]<a target="_blank" href="[% iplant %][% project.read_file %]"><img src="/img/iplant.png">&nbsp;[% project.read_file %]</a>[% ELSE %]N/A[% END %]</td>
          </tr>
          <tr>
            <th>Metadata File</th>
            <td>[% IF project.meta_file %]<a target="_blank" href="[% iplant %][% project.meta_file %]"><img src="/img/iplant.png">&nbsp;[% project.meta_file %]</a>[% ELSE %]N/A[% END %]</td>
          </tr>
          <tr>
            <th>Assembly File</th>
            <td>[% IF project.assembly_file %]<a target="_blank" href="[% iplant %][% project.assembly_file %]"><img src="/img/iplant.png">&nbsp;[% project.assembly_file %]</a>[% ELSE %]N/A[% END %]</td>
          </tr>
          <tr>
            <th>Peptide File</th>
            <td>[% IF project.peptide_file %]<a target="_blank" href="[% iplant %][% project.peptide_file %]"><img src="/img/iplant.png">&nbsp;[% project.peptide_file %]</a>[% ELSE %]N/A[% END %]</td>
          </tr>
          <tr>
        </table>
        </p>
      </div>

      <div class="tab-pane fade" id="desc">
        <div class="col-lg-6">
        <p>[% project.description.replace('\n\n', '<p>') OR 'N/A' %]</p>
        </div>
      </div>

      <div class="tab-pane fade" id="assemblies">
        <p>
        [% IF project.assemblies.size > 0 %]
          <table id="assemblies-tbl" class="display" cellspacing="0" width="100%">
           <thead>
           <tr>
             <th>Name</th>
             <th>Code</th>
             <th>Organism</th>
           </tr>
           </thead>

           <tbody>
           [% FOREACH assembly IN project.assemblies %]
             <tr>
               <td><a href="/assembly/view/[% assembly.assembly_id %]">[% assembly.assembly_name %]</a></td>
               <td>[% assembly.assembly_code %]</td>
               <td>[% assembly.organism %]</td>
             </tr>
           [% END %]
           </tbody>

          </table>
        [% ELSE %]
          No assemblies.
        [% END %]
        <p>
      </div>

      <div class="tab-pane fade" id="samples">
        <p>
        [% IF project.samples.size > 0 %]
          [% SET fields = ["sample_type", "sample_volume", "volume_unit", "filter_min", "filter_max", "sample_description", "sample_name", "comments", "taxon_id", "collection_start_time", "collection_stop_time", "biomaterial_name", "description", "material_acc", "site_name", "latitude", "longitude", "altitude", "site_depth", "site_description", "country_name", "region", "habitat_name", "host_taxon_id", "host_description", "host_organism", "library_acc", "sequencing_method", "dna_type", "num_of_reads", "material_id"] %]
          <table id="samples-tbl" class="display" cellspacing="0" width="100%">
           <thead>
           <tr>
            <th>Sample Acc</th>
             [% FOREACH field IN fields %]
               <th>[% field.replace('_', ' ').ucfirst %]</th>
             [% END %]
           </tr>
           </thead>

           <tbody>
           [% FOREACH sample IN project.samples %]
             <tr>
               <td><a href="/sample/view/[% sample.sample_id %]">[% sample.sample_acc %]</a></td>
               [% FOREACH field IN fields %]
                 <td>[% sample.$field %]</td>
               [% END %]
             </tr>
           [% END %]
           </tbody>

          </table>
        [% ELSE %]
          No samples.
        [% END %]
        <p>
      </div>
    </div>
  <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
</div>

</div>
